In [20]:
#dependents
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import os
import csv
import matplotlib.pyplot as plt


#create imporsonment data url
Imprisonment_baseUrl = "https://api.ed.gov/data/mbk-imprisonment?"
Imprisonment_apiKey = "api_key=DTeVODnGRjLME8jd6PQCOy1DpgLqXPdHWtGO4EqA"
Imprisonment_perPage = "per_page=" + "195"
Imprisonment_url = Imprisonment_baseUrl + Imprisonment_apiKey + "&" + Imprisonment_perPage

#request and get data as "ImprisonmentData" through url
ImprisonmentData = requests.get(Imprisonment_url).json()

#get length of imprisonment dataframe entries 
Imprisonment_length = len(ImprisonmentData["resources"])

#initialize lists for data pull from request
YearList = [] 
RaceEthnicityList = []
SexLists = []
CountList = []
CountPerCapitaList = []

#pull all data from requested data and put into lists for each column
for i in range (Imprisonment_length):
    YearList.append(int(ImprisonmentData["resources"][i]["Year"]))
    RaceEthnicityList.append(ImprisonmentData["resources"][i]["Race/ethnicity"])
    SexLists.append(ImprisonmentData["resources"][i]["Sex"])
    CountList.append(int(ImprisonmentData["resources"][i]["Count"]))
    CountPerCapitaList.append(int(ImprisonmentData["resources"][i]["Rate per 100,000"]))

#create dataframe and input all lists
imprisonmentDf = pd.DataFrame({
    "Year" : YearList,
    "Race/Ethnicity" : RaceEthnicityList,
    "Sex" : SexLists,
    "Count" : CountList,
    "Per Capita Rate per 100,000" : CountPerCapitaList
})

#show imprisonment dataframe
imprisonmentDf.sort_values(by=["Year", "Race/Ethnicity"], ascending=True).head(16)

,Year,Race/Ethnicity,Sex,Count,"Per Capita Rate per 100,000"
52,2000,"Black, non-Hispanic",None,104880,2732
104,2000,"Black, non-Hispanic",Male,101521,5358
156,2000,"Black, non-Hispanic",Female,3500,180
65,2000,Hispanic,None,48696,1004
117,2000,Hispanic,Male,46949,1765
169,2000,Hispanic,Female,1596,73
78,2000,"Other race, non-Hispanic",None,15350,826
130,2000,"Other race, non-Hispanic",Male,14504,1557
182,2000,"Other race, non-Hispanic",Female,869,94
39,2000,"White, non-Hispanic",None,59129,345
91,2000,"White, non-Hispanic",Male,55602,639
143,2000,"White, non-Hispanic",Female,3498,41
0,2000,None,None,218896,791
13,2000,None,Male,209543,1478
26,2000,None,Female,9089,67
53,2001,"Black, non-Hispanic",None,101386,2577

In [43]:
#ATTEMPT TO USE MATPLOTLIB, WORK ON NEXT TIME
imprisonmentDf_test = pd.DataFrame(imprisonmentDf.groupby(["Year", "Race/Ethnicity"])["Count"].sum()).unstack(level=-1) #Adds genders together into single race count
imprisonmentDf_test#.reset_index(level=0, inplace=True)
imprisonmentDf_test

                             Count                                    \
Race/Ethnicity Black, non-Hispanic Hispanic Other race, non-Hispanic
Year
2000                        209901    97241                    30723
2001                        202851   100203                    31753
2002                        197599   102168                    31490
2003                        183179   102401                    31862
2004                        176131    99885                    31843
2005                        159697    97100                    31702
2006                        157468    96559                    31714
2007                        158443    98630                    30165
2008                        164465    96909                    28929
2009                        168401    98953                    26675
2010                        167926    97726                    25607
2011                        163458    92916                    23311
2012                        151890    83001                    32972


Race/Ethnicity White, non-Hispanic
Year
2000                        118229
2001                        121663
2002                        124976
2003                        122086
2004                        119488
2005                        114019
2006                        108938
2007                        105338
2008                        104121
2009                        102689
2010                         99951
2011                         96438
2012                         88618